[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pydantic-kms-secrets = {editable = true,path = "."}
pydantic = "*"
black = "==19.10b0"
pytest-cov = "*"
isort = "*"

[packages]
boto3 = "*"

[requires]
python_version = "3.6"
