name: Lint & Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.6'
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ".[test, dev]"
        pwd
        ls
    - uses: ./.github/actions/test
      with:
        codecov-token: ${{ secrets.CODECOV_TOKEN }}